@use "../../styles/colors";

.product-info-status {
    width: 75px;
    height: 33px;
    border-radius: 7px;
    background-color: colors.$secondary_main;
}

.status {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: colors.$background_paper !important;
}

.icon {
    color: colors.$background_paper !important;
    width: 11px !important;
    height: 11px !important;
    margin-left: 11px;
}