@use "../../styles/colors";

.product-image {
    margin-top: 78px;
    width: 699px;
    height: 798px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    image-orientation: from-image;   
}