@use "../../styles/colors.scss";

.wrapper {
  margin: 2rem 0;
  width: 580px;
  height: 215px;
  background-color: colors.$background_paper;
  border-radius: 30px;
}

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 580px;
  height: 215px;
  background-color: rgba(colors.$primary_main, 10%);
}

.number {
  border-radius: 20px;
  color: colors.$text_primary;
  background-color: rgba(colors.$primary_main, 10%);
  padding: 0 70px;
  font-size: 72px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
}

.infoWrapper {
  padding: 10px 55px;
}

.text {
  text-align: center;
}

.description {
  font-weight: 400;
  font-size: 12px;
  color: colors.$text_secondary;
  font-style: normal;
}